# pypi
setuptools
wheel
twine

# NeoVim
neovim
neovim-remote

# Git
gitlint

# Python
black
isort==4.3.21
ipython
pylint
flake8
mypy

# Cpp
cpplint

# Json
demjson

# Cmake
cmake_format
cmakelint

# Yaml
yamllint

# VimScript
vim-vint
