# pypi
setuptools
wheel
twine

# NeoVim
neovim
neovim-remote

# Git
gitlint

# Python
black
isort
ipython
pylint
flake8
flake8-docstrings
darglint
mypy

# Python-rst
rstcheck
rstfmt

# Cpp
cpplint

# Json
demjson

# Cmake
cmake_format
cmakelint

# Yaml
yamllint

# VimScript
vim-vint
